<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtangt.wm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WM">
        <activity android:name=".wode.guanyu"></activity>
        <activity android:name=".wode.wodepinjia" />
        <activity android:name=".wode.wodeshoucang" />
        <activity android:name=".wode.wodedizi" />
        <activity
            android:name=".wode.gerenxinxi"
            android:label="@string/title_activity_gerenxinxi"
            android:theme="@style/Theme.WM.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>